body {
  background-image: url('./assets/hero_bg.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 1366px;
  height: 711.6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  display: flex; /*aqui eu defino o layout do cabeçalho como flexbox*/
  justify-content: space-between; /*aqui eu defino o espaçamento entre os elementos do cabeçalho*/
  align-items: center; /*aqui eu defino o alinhamento vertical dos elementos do cabeçalho*/
  
  background-color: rgb(112, 12, 12); /*cor do fundo do cabeçalho*/
  width: 1364px; /*largura do cabeçalho*/
  height: 70px; /*altura do cabeçalho*/
  border:  solid 3px rgb(56, 0, 0);/*cor e espessura da borda do cabeçalho*/
  text-align: right; /*alinhamento do conteúdo do cabeçalho à direita*/
  margin: 0; /*reset do css*/
  padding: 0; /*reset do css*/
  box-sizing: border-box; /*reset do css*/
  padding-top: 5px; /*espaçamento entre o conteúdo do cabeçalho e a borda superior do cabeçalho*/
  padding-left: 10px; /*espaçamento entre o conteúdo do cabeçalho e a borda esquerda do cabeçalho*/
  padding-right: 20px; /*espaçamento entre o conteúdo do cabeçalho e a borda direita do cabeçalho*/
}

.cabecalho .link_instagram_cabecalho {
  letter-spacing: 2px; /*espaçamento entre as letras do link do instagram no cabeçalho*/
  order: 1; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor do link do instagram no cabeçalho*/
  text-decoration: none; /*tira o sublinhado do link*/
  font-family: "league gothic", sans-serif; /*define a fonte do link do instagram no cabeçalho*/
  font-size: 35px; /*tamanho da fonte do link do instagram no cabeçalho*/
}

.cabecalho i {
  order: 2; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor da logo do instagram no cabeçalho*/
  font-size: 41.7px; /*tamanho da logo do instagram no cabeçalho*/
  margin-left: 7px; /*margem entre o link e a logo do instagram no cabeçalho*/
}

.cabecalho .logo_cabecalho {
  order: 0; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  height: 58.2px; /*altura do logo do cabeçalho*/
  width: 291.4px; /*largura do logo do cabeçalho*/
  vertical-align: middle; /*alinhamento vertical do logo do cabeçalho*/
  align-self: flex-start; /*alinhamento do logo do cabeçalho à esquerda do cabeçalho*/
}

.imagem_capa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* altura da tela menos o cabeçalho */
}
.body .fenix_capa_engrenagem {
  width: 570px; /*largura da imagem de capa*/
  height: 570px; /*altura automática da imagem de capa para manter a proporção da imagem*/
}

.logos {
  display: flex;
  justify-content: space-between; /*aqui eu defino o espaçamento entre os logos da FIRST e da FIRJAN*/
  padding-left: 7px; /*espaçamento entre o logo e a borda esquerda do site*/
  padding-bottom: 20px; /*espaçamento entre o logo e a borda superior do site*/
}

.body .logos .logo_capa {
  width: 209px; /*largura do logo da FIRST*/
  height: 54.5px; /*altura do logo da FIRST*/
}

.body .logos .imagem_logo_firjan {
  width: 211.7px; /*largura do logo da FIRJAN*/
  height: 110.6px; /*altura do logo da FIRJAN*/
}

.rodape {
  width: 1366px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px; /*espaçamento entre o rodapé e a borda inferior do site*/
}

.rodape .linha-separadora {
  width: 1366px; /* ou o tamanho que quiser */
  height: 15px; /* espessura */
  background-color: rgb(123, 89, 7);
  border: solid 3px rgb(230, 221, 199); /* cor e espessura da borda */
  margin-bottom: 0px; /* espaço do final da tela */
}