.index {
  background-image: url('./assets/hero_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 711.6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.cabecalho_index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112, 12, 12);
  width: 100vw;
  max-width: 1343px;
  height: 70px;
  border: solid 3px rgb(56, 0, 0);
  padding: 5px 20px 0 10px;
  box-sizing: border-box; /* garante que a borda não estoure */
  margin: 0;
  text-align: right; /*alinhamento do conteúdo do cabeçalho à direita*/
  margin: 0; /*reset do css*/

  padding: 0; /*reset do css*/
  box-sizing: border-box; /*reset do css*/
  padding-top: 5px; /*espaçamento entre o conteúdo do cabeçalho e a borda superior do cabeçalho*/
  padding-left: 10px; /*espaçamento entre o conteúdo do cabeçalho e a borda esquerda do cabeçalho*/
  padding-right: 20px; /*espaçamento entre o conteúdo do cabeçalho e a borda direita do cabeçalho*/
}

.cabecalho_index  .link_instagram_cabecalho {
  letter-spacing: 2px; /*espaçamento entre as letras do link do instagram no cabeçalho*/
  order: 1; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor do link do instagram no cabeçalho*/
  text-decoration: none; /*tira o sublinhado do link*/
  font-family: "league gothic", sans-serif; /*define a fonte do link do instagram no cabeçalho*/
  font-size: 35px; /*tamanho da fonte do link do instagram no cabeçalho*/
}

.cabecalho_index i {
  order: 2; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor da logo do instagram no cabeçalho*/
  font-size: 41.7px; /*tamanho da logo do instagram no cabeçalho*/
  margin-left: 7px; /*margem entre o link e a logo do instagram no cabeçalho*/
}

.cabecalho_index .logo_cabecalho {
  order: 0; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  height: 58.2px; /*altura do logo do cabeçalho*/
  width: 291.4px; /*largura do logo do cabeçalho*/
  vertical-align: middle; /*alinhamento vertical do logo do cabeçalho*/
  align-self: flex-start; /*alinhamento do logo do cabeçalho à esquerda do cabeçalho*/
}

.imagem_capa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* altura da tela menos o cabeçalho */
}
.index .fenix_capa_engrenagem {
  width: 570px; /*largura da imagem de capa*/
  height: 570px; /*altura automática da imagem de capa para manter a proporção da imagem*/
}

.logos {
  display: flex;
  justify-content: space-between; /*aqui eu defino o espaçamento entre os logos da FIRST e da FIRJAN*/
  padding-left: 7px; /*espaçamento entre o logo e a borda esquerda do site*/
  padding-bottom: 20px; /*espaçamento entre o logo e a borda superior do site*/
}

.index .logos .logo_capa {
  width: 209px; /*largura do logo da FIRST*/
  height: 54.5px; /*altura do logo da FIRST*/
}

.index .logos .imagem_logo_firjan {
  width: 211.7px; /*largura do logo da FIRJAN*/
  height: 110.6px; /*altura do logo da FIRJAN*/
}

.rodape {
  width: 100%;
  max-width: 1343px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px; /*espaçamento entre o rodapé e a borda inferior do site*/
}

.rodape .linha-separadora {
  width: 1343px; /* ou o tamanho que quiser */
  height: 15px; /* espessura */
  background-color: rgb(123, 89, 7);
  border: solid 3px rgb(230, 221, 199); /* cor e espessura da borda */
  margin-bottom: 0px; /* espaço do final da tela */
}

.secao_intro{
  background-color: rgb(112, 12, 12); /*cor do fundo da seção de introdução*/
  width: 100vw;
  max-width: 1343px; /*largura da seção de introdução*/
  height: 768px; /*altura da seção de introdução*/
  display: flex;
  flex-direction: column; /*aqui eu defino a direção dos elementos da seção de introdução como coluna*/
}

.secao_intro .titulo1 {
  font-family: "league gothic", sans-serif; /*define a fonte do título da seção de introdução*/
  font-size: 107px; /*tamanho da fonte do título da seção de introdução*/
  color: rgb(255, 255, 255); /*cor do título da seção de introdução*/
  margin-left: 20px; /*espaçamento entre o título e a borda esquerda da seção de introdução*/
  letter-spacing: 12px; /*espaçamento entre as letras do título da seção de introdução*/
  margin-bottom: 0px;
  padding-left: 100px;
  padding-top: 15px;
  font-weight: 300;
}

.secao_intro .titulo1_2 {
  font-family: "league gothic", sans-serif; /*define a fonte do texto da seção de introdução*/
  font-size: 93px; /*tamanho da fonte do texto da seção de introdução*/
  color: rgb(255, 255, 255); /*cor do texto da seção de introdução*/
  margin-left: 20px; /*espaçamento entre o texto e a borda esquerda da seção de introdução*/
  letter-spacing: 20px; /*espaçamento entre as letras do título da seção de introdução*/
  margin-top: -25px;
  padding-left: 135px;
  padding: auto;
  font-weight: 300;
}

.secao_intro .mao_frase{
  position: relative;
  width: 85px;
  height: 84px;
  margin-left: 100px;
  top: -150px; /* em vez de margin-top */
}

.div_foto_tir {
  display: flex;
}

.div_foto_tir .foto_tir {
  width: 641.2px;
  height: 777.5px;
  margin-left: 655px; /* empurra para a direita */
  margin-top: -470px; /* vai pra cima */
}

.paragrafo_intro {
  font-family: "Sanchez", serif; /*define a fonte do parágrafo da seção de introdução*/
  font-size: 18px; /*tamanho da fonte do parágrafo da seção de introdução*/
  color: rgb(255, 255, 255); /*cor do parágrafo da seção de introdução*/
  text-indent: 30px; /* recua a primeira linha */
  margin-left: 107px; /*espaçamento entre o parágrafo e a borda esquerda da seção de introdução*/
  text-align: justify;
  hyphens: auto; /* quebra palavras quando necessário */
  text-justify: inter-word; /* distribui o espaço entre palavras */
  width: 445px; /* largura do parágrafo */
  margin-top: -450px; /* ajuste o valor */
  line-height: 1.5; /* espaço entre linhas */
}

.destaque {
  color: rgb(212, 173, 83); /*cor do destaque do parágrafo da seção de introdução*/
}

.botao_ftc_mais {
  display: inline-block; /*faz o botão ficar no lugar certinho*/
  background-color: rgb(202, 141, 50); /*cor do fundo do botão de mais informações sobre a FTC*/
  color: rgb(255, 255, 255); /*cor do texto do botão de mais informações sobre a FTC*/
  font-family: "league gothic", sans-serif; /*define a fonte do texto do botão de mais informações sobre a FTC*/
  font-size: 40px; /*tamanho da fonte do texto do botão de mais informações sobre a FTC*/
  padding: 10px 0; /*espaçamento interno do botão de mais informações sobre a FTC*/
  width: 300px;;
  border: none; /*tira a borda do botão de mais informações sobre a FTC*/
  text-decoration: none; /*tira o sublinhado do texto do botão de mais informações sobre a FTC*/
  margin-left: 107px; /*espaçamento entre o botão de mais informações sobre a FTC e a borda esquerda da seção de introdução*/
  margin-top: -400px; /*ajuste o valor para posicionar o botão corretamente */
  cursor: pointer; /*muda o cursor para uma mãozinha quando passa o mouse sobre o botão*/
  text-align: center;
  margin-left: 180px; /* move para a direita */
  margin-top: -5px; /* move para baixo */
}

.botao_ftc_mais:hover {
  background-color: rgb(212, 172, 80); /*cor do fundo do botão quando o mouse passa por cima*/
}

.biblioteca {
  display: inline-block;  /*faz o botão ficar no lugar certinho*/
  background-color: rgb(202, 141, 50); /*cor do fundo do botão de mais informações sobre a FTC*/
  color: rgb(255, 255, 255); /*cor do texto do botão de mais informações sobre a FTC*/
  font-family: "league gothic", sans-serif; /*define a fonte do texto do botão de mais informações sobre a FTC*/
  font-size: 40px; /*tamanho da fonte do texto do botão de mais informações sobre a FTC*/
  padding: 10px 0; /*espaçamento interno do botão de mais informações sobre a FTC*/
  width: 300px;;
  border: none; /*tira a borda do botão de mais informações sobre a FTC*/
  text-decoration: none; /*tira o sublinhado do texto do botão de mais informações sobre a FTC*/
  margin-left: 107px; /*espaçamento entre o botão de mais informações sobre a FTC e a borda esquerda da seção de introdução*/
  margin-top: -400px; /*ajuste o valor para posicionar o botão corretamente */
  cursor: pointer; /*muda o cursor para uma mãozinha quando passa o mouse sobre o botão*/
  text-align: center;
  margin-left: 180px; /* move para a direita */
  margin-top: 18px; /* move para baixo */
}
.biblioteca:hover {
  background-color: rgb(212, 172, 80); /*cor do fundo do botão quando o mouse passa por cima*/
}

.rodape_secao_intro {
  width: 1343px;
  display: flex;
  flex-direction: column;
  min-height: 40px;
}

.rodape_secao_intro .linha-separadora_intro {
  width: 1343px; /* ou o tamanho que quiser */
  height: 15px; /* espessura */
  background-color: rgb(123, 89, 7);
  border: solid 3px rgb(230, 221, 199); /* cor e espessura da borda */
  margin-top: auto; /* empurra ele pro final da seção */
}

.quem_somos_section {
  background-color: rgb(112, 12, 12); /*cor do fundo da seção de quem somos*/
  width: 1343px; /*largura da seção de quem somos*/
  height: 1496px; /*altura da seção de quem somos*/
  display: flex;
  flex-direction: column; /*aqui eu defino a direção dos elementos da seção de quem somos como coluna*/
}

.quem_somos_section .titulo11_quem_somos {
  font-family: "league spartan", sans-serif; /*define a fonte do título da seção quem somos*/
  font-size: 100px; /*tamanho da fonte do título da seção de quem somos*/
  color: rgb(255, 255, 255); /*cor do título da seção de quem somos*/
  margin-left: 20px; /*espaçamento entre o título e a borda esquerda da seção de quem somos*/
  letter-spacing: -5px; /*espaçamento entre as letras do título da seção de quem somos*/
  margin-bottom: 0px;
  padding-right: 90px;
  padding-top: 35px;
  font-weight: 800;
  align-self: self-end;
}

.quem_somos_section .titulo2_quem_somos {
  font-family: "league spartan", sans-serif; /*define a fonte do texto da seção quem somos*/
  font-size: 50px; /*tamanho da fonte do texto da seção de quem somos*/
  color: rgb(225, 192, 85); /*cor do texto da seção de quem somos*/
  margin-left: 20px; /*espaçamento entre o texto e a borda esquerda da seção de quem somos*/
  letter-spacing: 25px; /*espaçamento entre as letras do título da seção de quem somos*/
  margin-top: -25px;
  padding-right: 65px;
  padding-top: 15px;
  font-weight: 700;
  align-self: self-end;
}

.quem_somos_section .fotos_diversas_quem_somos {
  margin-top: -265px;
  width: 719.8px;
  height: auto;
}

.quem_somos_section .globo_quem_somos {
  position: relative;
  width: 307px;
  height: auto;
  align-self: center;
  margin-top: -800px;
}

.quem_somos_section .foto_canto_direito {
  position: relative;
  width: 616px;
  height: auto;
  align-self: flex-end;
  margin-top: 619px;
  margin-right: 0px;
}

.quem_somos_section .titulo_quem_somos {
  font-family: "sanchez", serif; /*define a fonte do título da seção quem somos*/
  font-size: 45px; /*tamanho da fonte do título da seção de quem somos*/
  color: rgb(255, 255, 255); /*cor do título da seção de quem somos*/
  margin-left: 760px; /*espaçamento entre o título e a borda esquerda da seção de quem somos*/
  margin-top: -250px;


  font-weight: 400;
}

.quem_somos_section .quem_somos_texto {
  font-family: "Sanchez", serif; /*define a fonte do parágrafo da seção de introdução*/
  font-size: 18px; /*tamanho da fonte do parágrafo da seção de introdução*/
  color: rgb(255, 255, 255); /*cor do parágrafo da seção de introdução*/
  text-indent: 30px; /* recua a primeira linha */
  margin-left: 760px; /*espaçamento entre o parágrafo e a borda esquerda da seção de introdução*/
  text-align: justify;
  hyphens: auto; /* quebra palavras quando necessário */
  text-justify: inter-word; /* distribui o espaço entre palavras */
  width: 510px; /* largura do parágrafo */
  margin-top: -1160px; /* ajuste o valor */
  line-height: 1.5; /* espaço entre linhas */
}

.quem_somos_section .emoji {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 725px;
  margin-top: 10px;
}

.quem_somos_section .qual_nossa_missao {
  font-family: "sanchez", serif; /*define a fonte do título da seção quem somos*/
  font-size: 43px; /*tamanho da fonte do título da seção de quem somos*/
  color: rgb(255, 255, 255); /*cor do título da seção de quem somos*/
  margin-left: 760px; /*espaçamento entre o título e a borda esquerda da seção de quem somos*/
  margin-top: -20px;
  font-weight: 400;
}

.quem_somos_section .nossa_missao {
  font-family: "Sanchez", serif; /*define a fonte do parágrafo da seção de introdução*/
  font-size: 18px; /*tamanho da fonte do parágrafo da seção de introdução*/
  color: rgb(255, 255, 255); /*cor do parágrafo da seção de introdução*/
  text-indent: 30px; /* recua a primeira linha */
  margin-left: 760px; /*espaçamento entre o parágrafo e a borda esquerda da seção de introdução*/
  text-align: justify;
  hyphens: auto; /* quebra palavras quando necessário */
  text-justify: inter-word; /* distribui o espaço entre palavras */
  width: 510px; /* largura do parágrafo */
  margin-top: -40px; /* ajuste o valor */
}

.quem_somos_section .como_nascemos {
  font-family: "league spartan", sans-serif; /*define a fonte do título da seção quem somos*/
  font-size: 80px; /*tamanho da fonte do título da seção de quem somos*/
  color: rgb(212, 173, 83); /*cor do título da seção de quem somos*/
  margin-left: 70px; /*espaçamento entre o título e a borda esquerda da seção de quem somos*/
  margin-top: 110px;
  font-weight: 700;
  letter-spacing: 10px;
  text-shadow: -5px 3px 0px rgb(255, 255, 255); /* sombra para destacar o título */
}

.quem_somos_section .como_nascemos_texto {
  font-family: "Sanchez", serif; /*define a fonte do parágrafo da seção de introdução*/
  font-size: 18px; /*tamanho da fonte do parágrafo da seção de introdução*/
  color: rgb(255, 255, 255); /*cor do parágrafo da seção de introdução*/
  text-indent: 30px; /* recua a primeira linha */
  margin-left: 55px; /*espaçamento entre o parágrafo e a borda esquerda da seção de introdução*/
  text-align: justify;
  hyphens: auto; /* quebra palavras quando necessário */
  text-justify: inter-word; /* distribui o espaço entre palavras */
  width: 630px; /* largura do parágrafo */
  margin-top: -70px; /* ajuste o valor */
  line-height: 1.5; /* espaço entre linhas */
}

.biblioteca_body{
  display: flex;
  flex-direction: column;
  background-image: url('./assets/hero_bg_biblioteca.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 711.6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.biblioteca_body .titulo_biblioteca {
  font-family: "league gothic", sans-serif;
  font-size: 80px;
  color: white;
  margin-top: -40px;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
}

.biblioteca_body .cabecalho_biblioteca {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112, 12, 12);
  width: 100%;
  height: 70px;
  border: solid 3px rgb(56, 0, 0);
  padding: 5px 20px 0 10px;
  box-sizing: border-box; /* garante que a borda não estoure */
  margin: 0;
  text-align: right; /*alinhamento do conteúdo do cabeçalho à direita*/
  margin: 0; /*reset do css*/

  padding: 0; /*reset do css*/
  box-sizing: border-box; /*reset do css*/
  padding-top: 5px; /*espaçamento entre o conteúdo do cabeçalho e a borda superior do cabeçalho*/
  padding-left: 10px; /*espaçamento entre o conteúdo do cabeçalho e a borda esquerda do cabeçalho*/
  padding-right: 20px; /*espaçamento entre o conteúdo do cabeçalho e a borda direita do cabeçalho*/
}

.cabecalho_biblioteca  .link_instagram_cabecalho {
  letter-spacing: 2px; /*espaçamento entre as letras do link do instagram no cabeçalho*/
  order: 1; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor do link do instagram no cabeçalho*/
  text-decoration: none; /*tira o sublinhado do link*/
  font-family: "league gothic", sans-serif; /*define a fonte do link do instagram no cabeçalho*/
  font-size: 35px; /*tamanho da fonte do link do instagram no cabeçalho*/
}

.cabecalho_biblioteca  i {
  order: 2; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor da logo do instagram no cabeçalho*/
  font-size: 41.7px; /*tamanho da logo do instagram no cabeçalho*/
  margin-left: 7px; /*margem entre o link e a logo do instagram no cabeçalho*/
}

.cabecalho_biblioteca .logo_cabecalho {
  order: 0; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  height: 58.2px; /*altura do logo do cabeçalho*/
  width: 291.4px; /*largura do logo do cabeçalho*/
  vertical-align: middle; /*alinhamento vertical do logo do cabeçalho*/
  align-self: flex-start; /*alinhamento do logo do cabeçalho à esquerda do cabeçalho*/
}

.biblioteca_body .back_index {
  display: inline-block; /*faz o botão ficar no lugar certinho*/
  background-color: rgb(202, 141, 50); /*cor do fundo do botão*/
  color: rgb(255, 255, 255); /*cor do texto do botão*/
  font-family: "league gothic", sans-serif; /*define a fonte do texto do botão*/
  font-size: 40px; /*tamanho da fonte do texto do botão*/
  letter-spacing: 8px;
  padding: 3px 0; /*espaçamento interno do botão*/
  width: 120px;
  border: none; /*tira a borda do botão*/
  text-decoration: none; /*tira o sublinhado do texto do botão*/
  cursor: pointer; /*muda o cursor para uma mãozinha quando passa o mouse sobre o botão*/
  text-align: center;
  margin-left: 20px; /* move para a direita */
  margin-top: -95px; /* move para baixo */
}

.biblioteca_body .back_index:hover {
  background-color: rgb(212, 172, 80); /*cor do fundo do botão quando o mouse passa por cima*/
}

.cards-container {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start; 
  gap: 50px;
  margin-top: 100px;
  padding: 0 50px;
}

.card-wrapper {
  position: relative; 
  width: 367px; 
}

.explosao_vermelha_biblioteca,
.explosao_dourada_biblioteca,
.explosao_vermelha2_biblioteca {
  position: absolute;
  height: auto;
  z-index: 1;
}

.explosao_vermelha_biblioteca {
  width: 285px;
  top: 90px;
  left: -100px;
}

.explosao_dourada_biblioteca {
  width: 252px;
  top: -130px;
  left: -60px;
}

.explosao_vermelha2_biblioteca {
  width: 298px;
  top: 180px;
  left: 150px;
}

.documentacoes_oficiais,
.documentacoes_nao_oficiais,
.tutoriais_praticos {
  position: relative;
  width: 291px;
  height: 392px;
  background-color: rgb(255, 234, 207);
  box-shadow: -8px 8px 0px rgb(202, 141, 50);
  margin: 0 auto; 
  margin-top: -60px; 
   z-index: 2; 
}

.portfolio_lib_img,
.documentacoes_nao_oficiais_lib_img,
.tutoriais_praticos_lib_img {
  width: 266px;
  height: 144px;
  margin: 14px;
}

.botao_documentacoes_oficiais{
  display: inline-block; /*faz o botão ficar no lugar certinho*/
  background-color: rgb(202, 141, 50); /*cor do fundo do botão*/
  color: rgb(255, 255, 255); /*cor do texto do botão*/
  font-family: "league gothic", sans-serif; /*define a fonte do texto do botão*/
  font-size: 30px; /*tamanho da fonte do texto do botão*/
  letter-spacing: 3px;
  line-height: 1;
  padding: 10px 0; /*espaçamento interno do botão*/
  width: 250px;
  border: none; /*tira a borda do botão*/
  text-decoration: none; /*tira o sublinhado do texto do botão*/
  cursor: pointer; /*muda o cursor para uma mãozinha quando passa o mouse sobre o botão*/
  text-align: center;
  margin-top: 30px;
}

.botao_documentacoes_oficiais:hover {
  background-color: rgb(212, 172, 80); /*cor do fundo do botão quando o mouse passa por cima*/
}

.botao_documentacoes_nao_oficiais{
  display: inline-block; /*faz o botão ficar no lugar certinho*/
  background-color: rgb(202, 141, 50); /*cor do fundo do botão*/
  color: rgb(255, 255, 255); /*cor do texto do botão*/
  font-family: "league gothic", sans-serif; /*define a fonte do texto do botão*/
  font-size: 30px; /*tamanho da fonte do texto do botão*/
  letter-spacing: 3px;
  line-height: 1;
  padding: 10px 0; /*espaçamento interno do botão*/
  width: 250px;
  border: none; /*tira a borda do botão*/
  text-decoration: none; /*tira o sublinhado do texto do botão*/
  cursor: pointer; /*muda o cursor para uma mãozinha quando passa o mouse sobre o botão*/
  text-align: center;
  margin-top: 30px;
}

.botao_documentacoes_nao_oficiais:hover {
  background-color: rgb(212, 172, 80); /*cor do fundo do botão quando o mouse passa por cima*/
}

.botao_tutoriais_praticos{
  display: inline-block; /*faz o botão ficar no lugar certinho*/
  background-color: rgb(202, 141, 50); /*cor do fundo do botão*/
  color: rgb(255, 255, 255); /*cor do texto do botão*/
  font-family: "league gothic", sans-serif; /*define a fonte do texto do botão*/
  font-size: 30px; /*tamanho da fonte do texto do botão*/
  letter-spacing: 3px;
  line-height: 1;
  padding: 10px 0; /*espaçamento interno do botão*/
  width: 250px;
  border: none; /*tira a borda do botão*/
  text-decoration: none; /*tira o sublinhado do texto do botão*/
  cursor: pointer; /*muda o cursor para uma mãozinha quando passa o mouse sobre o botão*/
  text-align: center;
  margin-top: 30px;
  z-index: 3;
}

.botao_tutoriais_praticos:hover {
  background-color: rgb(212, 172, 80); /*cor do fundo do botão quando o mouse passa por cima*/
}

.txt_doc_ofc {
  font-family: "Sanchez", serif; /*define a fonte do parágrafo da seção de introdução*/
  font-size: 18px; /*tamanho da fonte do parágrafo da seção de introdução*/
  color: rgb(0, 0, 0); /*cor do parágrafo da seção de introdução*/
  margin-left: 20px; /*espaçamento entre o parágrafo e a borda esquerda da seção de introdução*/
  text-align: justify;
  hyphens: auto; /* quebra palavras quando necessário */
  text-justify: inter-word; /* distribui o espaço entre palavras */
  width: 250px; /* largura do parágrafo */
  margin-top: 10px; /* ajuste o valor */
}

.txt_documentacoes_nao_ofc {
  font-family: "Sanchez", serif; /*define a fonte do parágrafo da seção de introdução*/
  font-size: 18px; /*tamanho da fonte do parágrafo da seção de introdução*/
  color: rgb(0, 0, 0); /*cor do parágrafo da seção de introdução*/
  margin-left: 20px; /*espaçamento entre o parágrafo e a borda esquerda da seção de introdução*/
  text-align: justify;
  hyphens: auto; /* quebra palavras quando necessário */
  text-justify: inter-word; /* distribui o espaço entre palavras */
  width: 250px; /* largura do parágrafo */
  margin-top: 10px; /* ajuste o valor */
}

.txt_tutoriais_praticos {
  font-family: "Sanchez", serif; /*define a fonte do parágrafo da seção de introdução*/
  font-size: 18px; /*tamanho da fonte do parágrafo da seção de introdução*/
  color: rgb(0, 0, 0); /*cor do parágrafo da seção de introdução*/
  margin-left: 20px; /*espaçamento entre o parágrafo e a borda esquerda da seção de introdução*/
  text-align: justify;
  hyphens: auto; /* quebra palavras quando necessário */
  text-justify: inter-word; /* distribui o espaço entre palavras */
  width: 250px; /* largura do parágrafo */
  margin-top: 10px; /* ajuste o valor */
}

.container-botoes {
  display: flex;
  gap: 185px; /* espaço entre os botões */
  margin-top: 10px;
  padding: 0 30px;
  margin-left: 75px; /*pedir ajuda pra wanderson pra ajeitar isso*/
}

.documentacoes_ofc_body{
  display: flex;
  flex-direction: column;
  background-image: url('./assets/bg_documentacoes-ofc.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 711.6px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.documentacoes_ofc_body .titulo_documentacoes_ofc {
  font-family: "league gothic", sans-serif;
  font-size: 80px;
  color: white;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
}

.documentacoes_ofc_body .cabecalho_documentacoes_ofc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112, 12, 12);
  width: 100%;
  height: 70px;
  border: solid 3px rgb(56, 0, 0);
  padding: 5px 20px 0 10px;
  box-sizing: border-box; /* garante que a borda não estoure */
  margin: 0;
  text-align: right; /*alinhamento do conteúdo do cabeçalho à direita*/
  margin: 0; /*reset do css*/
  padding: 0; /*reset do css*/
  box-sizing: border-box; /*reset do css*/
  padding-top: 5px; /*espaçamento entre o conteúdo do cabeçalho e a borda superior do cabeçalho*/
  padding-left: 10px; /*espaçamento entre o conteúdo do cabeçalho e a borda esquerda do cabeçalho*/
  padding-right: 20px; /*espaçamento entre o conteúdo do cabeçalho e a borda direita do cabeçalho*/
  margin-top: -17px;
}

.documentacoes_ofc_body .link_instagram_cabecalho {
  letter-spacing: 2px; /*espaçamento entre as letras do link do instagram no cabeçalho*/
  order: 1; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor do link do instagram no cabeçalho*/
  text-decoration: none; /*tira o sublinhado do link*/
  font-family: "league gothic", sans-serif; /*define a fonte do link do instagram no cabeçalho*/
  font-size: 35px; /*tamanho da fonte do link do instagram no cabeçalho*/
}

.cabecalho_documentacoes_ofc i {
  order: 2; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  color: rgb(250, 239, 239); /*cor da logo do instagram no cabeçalho*/
  font-size: 41.7px; /*tamanho da logo do instagram no cabeçalho*/
  margin-left: 7px; /*margem entre o link e a logo do instagram no cabeçalho*/
}

.cabecalho_documentacoes_ofc .logo_cabecalho {
  order: 0; /*aqui eu estabeleço a ordem dos elementos no cabeçalho*/
  height: 58.2px; /*altura do logo do cabeçalho*/
  width: 291.4px; /*largura do logo do cabeçalho*/
  vertical-align: middle; /*alinhamento vertical do logo do cabeçalho*/
  align-self: flex-start; /*alinhamento do logo do cabeçalho à esquerda do cabeçalho*/
}

.documentacoes_ofc_body .back_index {
  display: inline-block; /*faz o botão ficar no lugar certinho*/
  background-color: rgb(202, 141, 50); /*cor do fundo do botão*/
  color: rgb(255, 255, 255); /*cor do texto do botão*/
  font-family: "league gothic", sans-serif; /*define a fonte do texto do botão*/
  font-size: 40px; /*tamanho da fonte do texto do botão*/
  letter-spacing: 8px;
  padding: 3px 0; /*espaçamento interno do botão*/
  width: 120px;
  border: none; /*tira a borda do botão*/
  text-decoration: none; /*tira o sublinhado do texto do botão*/
  cursor: pointer; /*muda o cursor para uma mãozinha quando passa o mouse sobre o botão*/
  text-align: center;
  margin-left: 20px; /* move para a direita */
  margin-top: -140px; /* move para baixo */
}

.documentacoes_ofc_body .back_index:hover {
  background-color: rgb(212, 172, 80); /*cor do fundo do botão quando o mouse passa por cima*/
}